Note: 데이터 로딩, 랭글링에 관한 자료정리 <br/> 
Major References:
- python for Data Analysis, O'Reilly, WesMckinney
- Getting and Cleaning Data, Coursera, John's Hopkins
---

#Data Loading, Storage, and File Formats

In [1]:
import pandas as pd

##데이터 로딩

In [2]:
#!cat for printing
!cat ex-pydatabook/ch06/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [3]:
#Read .CSV file into a DataFrame
df = pd.read_csv('ex-pydatabook/ch06/ex1.csv')

#names: 아래와 같이 헤더(인덱스)를 지정해 줄 수 있음
df = pd.read_csv('ex-pydatabook/ch06/ex1.csv', names= ['a','b','c','d','message'])

#index_col: 컬럼 하나를 인덱싱으로 지정할 수 있음
nm = ['a','b','c','d','message']
df = pd.read_csv('ex-pydatabook/ch06/ex1.csv', names = nm , index_col='message')

#계층적 색인 (hierarchical index)
!cat ex-pydatabook/ch06/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [4]:
parsed = pd.read_csv('ex-pydatabook/ch06/csv_mindex.csv', index_col = ['key1','key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [5]:
#csv가 아니고 txt 같은 fixed delimiter가 없는 파일 및 데이터 형식에서는 공백,',',파이선 정규표현식을 이용
#sep
list(open('ex-pydatabook/ch06/ex3.txt')) #txt는 open 으로?
#!cat ex-pydatabook/ch06/ex3.txt 와 비교했을때, 구분자를 확인하기 힘듬
result = pd.read_table('ex-pydatabook/ch06/ex3.txt',sep='\s+') # \s+ --> 공백문자 처리

####  # read_table과 read_csv의 차이점:
- read_csv: 파일, URL 또는 파일과 유사한 객체로부터 구분된 데이터를 읽어옴. 데이터 구분자는 쉼표(,)를 기본으로 한다.
- read_table: 파일, URL 또는 파일과 유사한 객체로부터 구분된 데이터를 읽어옴. 데이터 구분자는 탭('\t')를 기본으로 한다.
- 즉, 둘 다 사용을 해도 되지만 가급적 read_csv 같은 경우는 csv 파일만 사용을 하고 나머지 특별한 경우를 read_table로 활용

#### # read_table/read_csv function arguments 
파서 함수는 파일 형식에서 발생할 수 있는 매우 다양한 예외를 잘 처리할 수 있도록 많은 추가 인자를 가지고 있음 (책 참조)

주요 function arguments:
- skiprows
- na_values: 누락된 값이나 특정한 값들을 NaN으로 처리
- nrows: 처음 몇줄만 읽음

#### # Manually working with Delimited Formats

malformed 데이터를 다뤄야 하는 상황이 적지 않기 때문에, 매뉴얼하게 데이터를 로딩해야 하는 경우들이 생김. 'read_table' 로 다루기 힘들 데이터들

In [6]:
!cat ex-pydatabook/ch06/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3","4"

(나 솔직히 이 파트 요지를 모르겠음)

In [14]:
import csv
f = open('ex-pydatabook/ch06/ex7.csv')

#csv.reader()를 통해 line iterating을 할 수 있음. 아래 두줄은 한 set와 같음
reader = csv.reader(f) 
for line in reader:
    print line

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [10]:
#위에 과정을 아래처럼 한번에 요약가능
lines = list(csv.reader(open('ex-pydatabook/ch06/ex7.csv')))
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3', '4']]