[1. Group by Machanics](#1.0)

분석과정에서 데이터를 그룹화 각 그룹별의 집계/통계/변형 및 함수를 적용하는 것이 필수적.  
관계형 데이터베이스와 SQL의 쿼리문은 그룹 연산에 제약   
이에반해 파이썬의 Pandas를 통해 복잡한 그룹 연산이 가능 (groupby 방법 제공)


** objectives: **
- key (column 인덱스)를 이용해 pandas 객체를 나누는 방법
- 그룹 요약통계 도출
- Dataframe/Series등의 요소에 다양한 함수를 적용
- 집단내 정규화, 선형 회귀, 등급, 부분집합 선택 같은 Transformation 적용
- 피벗 테이블 pivot table과 교차일람표cross tabulatoin 구하는 법
- 변위치 분석quantile analysis과 다른 데이터 파생 집단 분석 data-driven group analysis



# <a name="1.0"></a> 1. Group by Machanics


** # Group Operation: split - apply - combine **  
  

- split: 데이터를 row 또는 column 색인 기준으로 분리  
- apply: 분리된 그룹에 함수값을 적용해서 새로운 테이블
- combine: 적용된 결과를 하나의 DF나 series로 결합   


그룹연산 프로세스 요약
![splitapplycombine](images/splitcombine.png )

** #Groupby 를 통한 그룹연산: **  
example: 데이터를 그룹화 하고 해당그룹의 평균 도출 
> 
```css
df['데이터를 지칭하는 컬럼 색인'].groupby( df['색인정보를 가지고 있는 컬럼 색인']).그룹연산()
```
>

In [2]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

df = DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                'key2' : ['one', 'two', 'one', 'two', 'one'],
                'data1' : np.random.randn(5),
                'data2' : np.random.randn(5)})
df

      data1     data2 key1 key2
0  0.753501 -0.935001    a  one
1  0.526080  0.577424    a  two
2  0.720953  1.246956    b  one
3 -0.367906  0.026227    b  two
4  0.080767  0.006990    a  one

groupby로 아래의 grouped변수는 GroupBy 오브젝트가 되었음. 이 객체는 `df['key1']`에 관한 중간산출물(intermediate data)일뿐, 무엇을 계산한 상태는 아님. 그러나 그룹 오퍼레이션을 적용하기 위한 모든 정보를 가지고 있음.

In [8]:
# groupby 객체 생성
grouped = df['data1'].groupby(df['key1'])
grouped

아래와 같은 그룹 연산을 하면, 그룹색인인 key에 따라 series 개체가 생성됨

In [7]:
# group 연산 예
grouped.mean()

key1
a    0.453449
b    0.176523
Name: data1, dtype: float64

아래 경우는 데이터가 2개의 색인으로 묵여서, 계층적 색인

In [10]:
df['data1'].groupby( [df['key1'],df['key2']] ).mean()

key1  key2
a     one     0.417134
      two     0.526080
b     one     0.720953
      two    -0.367906
Name: data1, dtype: float64

In [11]:
df.groupby(['key1','key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64


## <a name="1.1"></a> 1.1 Selecting a Columns or Subset of Columns